<%-include('../admin/layout/adminhead.ejs') -%>

  <div class="page-content">
    <div class="bg-dash-dark-2 py-4">
      <div class="container-fluid d-flex justify-content-between">
        <h2 class="h5 mb-0">Banner</h2>
        <a href="/Addbanner" class="btn btn-warning me-3">Add Banner</a>
      </div>
    </div>
    <div class="container p-5 ">
      <table id="myTable" class="table table-striped table-bordered table-responsive table-hover">
        <thead>
          <tr>
            <th scope="col"> #</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          
          <% banner.forEach(function(Banner,i){ %>
            <tr>
             
              <td>
                <%= i+1 %>
              </td>
              <td>
                <img style="width: 200px; height: 100px;" src="productimages/<%= Banner.image %>">
              </td>
              <td>
                <%= Banner.bannerName %>
              </td>
              <td>
                <%= Banner.description %>
              </td>
              <td>

                <div class="d-flex flex-lg-row justify-content-center">
                  <% if (Banner.status==true ) { %>
                  <form action="/disablebanner/<%= Banner._id %>" method="post">
                    <button type="submit" class="btn btn-outline-warning text-light" style="width: 110px;">Disable</button>
                  </form>
                  <% } else { %>
                    <form action="/enablebanner/<%= Banner._id %>" method="post">
                      <button type="submit" class="btn btn-outline-success text-light" style="width: 110px;">Enable</button>
                    </form>
                  <% } %>
                  <form action="/deletebanner/<%= Banner._id %>/<%= Banner.image %>" method="post">
                    <button type="submit" class="btn btn-outline-danger ms-2 ">Delete</button>
                  </form>
                </div>

              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>

    </div>
    <!-- <div class="m-4">
     

          <div class="d-flex border justify-content-between rounded align-items-center ">
              <div class="p-0 rounde">
                  <img src="/images/Timezone-banner-alt.jpg" alt="" class="image-fluid rounded" style="width: 200px ; height:100px ;">
              </div>
              <div class="d-flex flex-lg-row align-items-center">
                <p class="text-white" style="overflow: hidden; height: 100px;border-left: 1px solid rgb(255, 255, 255);">
                  stdard dummy text ever since the 1500s,orem Ipsum has been the industry's standard dummy text ever
                </p>
                <p class="text-white"style="overflow: hidden; height: 100px;border-left: 1px solid rgb(255, 255, 255);">
                  Lorem Ipsum is simply dummy Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                </p>
              </div>
              <div class=" d-flex flex-column align-items-center" style=" border-left: 1px solid rgb(255, 255, 255); width: 200px;">
                <a href="" class="btn btn-outline-success text-light ">Edit</a>
                <a href="/deleteimage/" class="text-light btn btn-outline-danger m-4">Delete</a>
              </div>    
          </div>
      
  </div> -->

  </div>
  

<%-include('../admin/layout/adminfooter.ejs') -%>
      
